.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.place-list{
    padding-top: 200px;
    padding-bottom: 250px;
    margin: 0 45px 0 45px;
}

.place-list-header{
    margin: 20px;
    font-size: 35px;
    color: #7e4c42;
}

/* SEARCH BAR */
.search-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}
.search-input {
    font-family: inherit;
    outline: none;
    display: flex;
    width: 100%;
    height: 40px;
    font-size:18px;
    text-align: left;
    padding-left: 10px;
    border: none;
    border-left: 1px solid #7e4c42;
    border-bottom: 1px solid #7e4c42;
    border-radius: 2px;
    background-color: white;
    color: #7e4c42;
}
.search-input:hover{
    box-shadow: -5px 5px 10px 0px rgba(126, 76, 66, 0.5);
}


/* DESTINATION CARDS */
.place-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding-bottom: 10px;
    border-left: 1px solid #7e4c42;
    border-bottom: 1px solid #7e4c42;
    border-radius: 2px;
    background-color: white;
}
.place-card:hover{
    box-shadow: -5px 5px 10px 5px rgba(126, 76, 66, 0.5);
}
.place-pic{
    width: 100%;
}
.place-card-info{
    font-size: 18px;
    text-align: center;
    color: #b35c4b;
}
.add-to-wish-list{
    font-size: 15px;
    top: 350px;
    cursor: pointer;
    border: 1px solid #7e4c42;
    border-radius: 2px;
    color: #7e4c42;
    height: 50px;
    width: 100px;
    margin: 15px 0px;
    opacity: .6;
}
.add-to-wish-list:hover{
    opacity: 1;
}
.add-to-wish-list:active{
    transform: translate(-1px, 2px);
}
#added{
    cursor: default;
}
#added:active{
    transform: none;
}
#added:hover{
    opacity: 0.6;
}

/* REACTIVENESS */
@media screen and (max-width: 1050px){
    .place-location{
        font-size: 15px;
    }
    .add-to-wish-list{
        font-size: 12px;
        width: 75px;
        height: 40px;
    }
    .search-input{
        height: 30px;
        font-size: 15px;
    }
    .place-list-header{
        font-size: 22px;
    }
}

@media screen and (max-width: 950px){
    .card{
        grid-template-columns: repeat(3, 1fr);
    }
    .add-to-wish-list{
        font-size: 10px;
        width: 80px;
        height: 30px;
    }
}

@media screen and (max-width: 675px){
    .card{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 525px){
    .card{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 325px){
    .search-input{
        font-size: 10px;
        height: 20px;
    }
    .add-to-wish-list{
        font-size: 10px;
        width: 50px;
        height: 30px;
    }
    .place-list{
        margin: 0 25px 0 25px;
    }
}