.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.trip-list{
    padding-top: 175px;
    padding-bottom: 250px;
    margin: 0 45px 0 45px;
}

/* MY TRIP CARDS */
.trip-card{
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    border-left: 1px solid #7e4c42;
    border-bottom: 1px solid #7e4c42;
    border-radius: 2px;
    background-color: white;
    position: relative;
}
.trip-card:hover{
    box-shadow: -5px 5px 10px 5px rgba(126, 76, 66, 0.5);
}
.trip-pic{
    width: 100%;
}
.trip-card-info{
    text-align: center;
    height: 600px;
}
.heart{
    font-size: 18px;
}
.trip-rating{
    margin-bottom: 0;
}
.trip-comments{
    padding: 0 15px;
    margin-top: 5px;
}
.trip-delete-button{
    font-size: 20px;
    position: absolute; 
    top: 565px;
}