.header {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    color: #782528;
    border-bottom: 1px solid rgba(120, 37, 40, 0.5);
    box-shadow: 0px 5px 20px 0px rgba(68, 26, 24, 0.5);
  }

.nav-bar{
    list-style-type: none;
    display: inline-flex;
    padding-right: 25px;
    float:right;
}


/* LOGO */
.left-side-nav {
    font-size: 35px;
    float: left;
    display: inline-flex;
    padding-left: 25px;
}


/* WELCOME, USER */
.center-nav{
    font-size: 20px;
    display: flex;
    padding-left: 10%;
}
.hello{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 15px;
}
.current-user-img{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: 2px solid #782528;
}


/* THE LINKS */
.nav-bar-list{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-bar-link{
    position: relative;
    font-size: 20px;
    display: block;
    width:100%;
    text-decoration: none;
    color: #782528;
    cursor: pointer;
}
.nav-bar-link:hover{
    opacity: 0.6;
}
/* LOGOUT BUTTON */
button{
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: inherit;
}

.mobile {
    color: #782528;
    background-color: white;
    border: none;
    cursor: pointer;
    padding-right: 25px;
    display: none;
}


/* REACTIVENESS */
@media screen and (max-width: 1900px){
    .left-side-nav{
        font-size: 30px;
    }
    .center-nav{
        font-size: 18px;
    }
    .current-user-img{
        height: 50px;
        width: 50px;
    }
    .nav-bar-link{
        font-size: 18px;
    }
}

@media screen and (max-width: 1075px){
    .left-side-nav{
        font-size: 20px;
    }
    .center-nav{
        font-size: 18px;
    }
    .current-user-img{
        height: 50px;
        width: 50px;
    }
    .nav-bar-link{
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px){
    .left-side-nav{
        font-size: 25px;
    }
    .center-nav{
        font-size: 18px;
        padding-left: 0;
        padding-right: 75px;
    }
    .current-user-img{
        height: 50px;
        width: 50px;
    }
    .nav-bar.active{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-top: 418px;
        margin-left: 90%;
        padding-right: 0;
        width: 10%;
        background-color: white;
        height: 300px;
        box-shadow: -10px 10px 20px 0px rgba(68, 26, 24, 0.5);
        z-index: 2;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-list{
        padding: 20px 0;
        width: 80%;
    }
    .nav-bar-link{
        text-align: center;
    }
    .mobile{
        display: block;
    }
    .mobile:hover{
        opacity: .5;
    }
}

@media screen and (max-width: 875px){
    .nav-bar.active{
        margin-left: 85%;
        width: 15%;
    }
    .nav-bar-link{
        font-size: 15px;
    }
}

@media screen and (max-width: 775px){
    .center-nav{
        padding-right: 45px;
    }
}

@media screen and (max-width: 650px){
    .left-side-nav{
        font-size: 20px;
    }
    .center-nav{
        padding-right: 35px;
    }
}
@media screen and (max-width: 550px){
    .header{
        flex-wrap: nowrap;
        flex-direction: column;
        height: 125px;
    }
    .mobile-right-nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .left-side-nav{
        padding-left: 0;
    }
    .hello{
        display: none;
    }
    .center-nav{
        margin-right: 25px;
    }
    .mobile{
        margin-top: -45px;
        margin-left: 75px;
    }
    .nav-bar.active{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-top: 135.5px;
        margin-left: 0%;
        padding-right: 0;
        width: 100%;
        background-color: white;
        height: 50px;
        box-shadow: -10px 10px 20px 0px rgba(68, 26, 24, 0.5);
        z-index: 2;
    }
}

@media screen and (max-width: 350px){
    .nav-bar-link{
        font-size: 12px;
    }
}