.social-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.user-card-list{
    padding-top: 200px;
    padding-bottom: 250px;
    margin: 0 45px 0 45px;
}

.user-list-header{
    margin: 20px;
    font-size: 35px;
    color: #7e4c42;
}

/* USER CARDS */
.user-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    margin: 20px;
    padding-bottom: 10px;
    border-left: 1px solid #7e4c42;
    border-bottom: 1px solid #7e4c42;
    border-radius: 2px;
    background-color: white;
}
.user-card:hover{
    box-shadow: -5px 5px 10px 5px rgba(126, 76, 66, 0.5);
}
.user-card-info{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 20px;
}
.user-link{
    color: #7e4c42;
    text-decoration: none;
}
.card-username{
    font-size: 25px;
}
.user-card-image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.user-trips{
    font-size: 18px;
    padding-left: 20px;
}

/* REACTIVENESS */
@media screen and (max-width: 1050px){
    .user-list-header{
        font-size: 22px;
    }
    .search-input{
        height: 30px;
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .card-username{
        font-size: 20px;
    }
    .user-card-image{
        height: 75px;
        width: 75px;
    }
    .user-trips{
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    .social-card{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .card-username{
        font-size: 15px;
    }
    .user-card-image{
        height: 50px;
        width: 50px;
    }
    .user-trips{
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .social-card{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 300px) {
    .user-card-list{
        margin: 0px 20px;
    }
    .search-input{
        font-size: 10px;
        height: 20px;
    }
}