.travel-page{
    padding-top: 200px;
    padding-bottom: 50px;
    margin: 0 45px 0 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.list-container{
    width: 80%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #7e4c42;
    border-radius: 2px;
    color: #7e4c42;
    box-shadow: 0px 0px 20px 2px rgba(126, 76, 66, 0.5)
}

.list-header{
    font-size: 35px;
    text-align: center;
    padding: 35px 0;
}

.packing-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    padding-left: 10%;
    padding-bottom: 50px;
    padding-top: 40px;
    list-style: none;
}
.packing-list li{
    padding: 10px 20px;
    font-size: 18px;
}

.tips-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    padding-bottom: 50px;
    padding-top: 40px;
}
.tips-list li{
    padding: 20px 20px;
    font-size: 18px;
}
